@model AdminInterface.Models.Course


@{
    ViewData["Title"] = "Create";
    ViewData["start"] = DateTime.Now.ToString("yyyy-MM--dd"); // set default to start data
}

<h1>Skapa ny kurs</h1>

<hr />
<div id="center" class="row">
    <div id="form-create" class="col-md-4">
        <form class="create" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prograssion" class="control-label"></label>
                <input asp-for="Prograssion" class="form-control" />
                <span asp-validation-for="Prograssion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<article id="above-footer">
    <a asp-action="Index">Visa kurser</a>
</article>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
