@model AdminInterface.Models.Job

@{
    ViewData["Title"] = "Create";
}

<h1>Skapa ny arbetserfarenhet</h1>

<hr />
<div id="center" class="row">
    <div id="form-create" class="col-md-4">
        <form class="create" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input  asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input  asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<artivle >
    <a asp-action="Index">Till arbetserfarenheter</a>
</artivle>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}